<header>
    <div class="container">
      <div class="naslov">
        <a href="#" routerLink="/" class="logo">BIBLIOTEKA</a>
      </div>
      <nav>
        <ul>
          <li>
            <a href="#" routerLink="/addBook">
              <i class="bi bi-search"></i>Dodaj novu knjigu
            </a>
            <a href="#" routerLink="/addAuthor">
              <i class="bi bi-search"></i>Dodaj novog autora
            </a>
            <a href="#" routerLink="/home">
              <i class="bi bi-search"></i>Knjige
            </a>
          </li>
          <li>
            <a href="#" routerLink="/returnBook">Vracanje knjige</a>
          </li>
          <li>
            <a href="#" routerLink="/user">Korisnici</a>
          </li>
          <li>
            <a href="#" routerLink="/permissions">Permisije</a>
          </li>
          <li>
            <a href="#" routerLink="/myProfile">👤</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  