<header>
  <div class="container">
    <div class="naslov">
      <a routerLink="/" class="logo">BIBLIOTEKA</a>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/home" *appHasClaim="'BookRead'">
            <i class="bi bi-search"></i> Knjige
          </a>
        </li>
        <li>
          <a routerLink="/user" *appHasClaim="'UserRead'">Korisnici</a>
        </li>
        <li >
          <a routerLink="/permissions" *appHasClaim="'PermissionRead'">Permisije</a>
        </li>
        <li *ngIf="isLogged">
          <a routerLink="/myProfile">Moj profil</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
