<h1></h1>
<div class="borrowing-form">
    <h2>Vraćanje knjige</h2>
    <form (ngSubmit)="submitBorrowing()">
      <div class="form-group">
        <label for="bookSelect">Izaberi knjigu:</label>
        <select id="bookSelect" [(ngModel)]="selectedBookId" name="bookId" required>
          <option *ngFor="let borrowing of borrowings" [value]="borrowing.book.idBook">{{ borrowing.book.title }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="username">Korisničko ime:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <button type="submit" [disabled]="!selectedBookId || !username">Potvrdi</button>
    </form>
  </div>
  